$mainColour: #1486ba;
$mainColourHover: #18aaed;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* makes the anchor tag navigation smooth */
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  -ms-overflow-style: auto;
  font-family: sans-serif;
}

body {
  margin: 0 0;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 5%;
  padding-right: 3%;
}

.rowParticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0%;
  padding-right: 0%;
}

.mainNav {
  z-index: 9;
}

nav {
  background-color: $mainColour;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 100%;
  max-height: 58px;
  form {
    min-height: 58px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: $mainColour;
  }
  li {
    max-height: 58px;
    float: left;
    position: relative;
    z-index: 10;
    background-color: $mainColour;
    &:hover {
      background: $mainColourHover;
    }
    a {
      display: block;
      padding: 20px 20px;
      border-right: 1px solid #f4f4f4;
      color: white;
      text-decoration: none;
      font-size: 1em;
    }
    input {
      width: 80%;
      font-size: 1rem;
      height: 2rem;
      margin-top: 5%;
      margin-left: 10%;
      margin-bottom: 8%;
      border-radius: 5px;
    }
  }
  .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 15px 20px 0px 10px;
    text-decoration: none;
    color: white;
  }
  .links {
    clear: none;
    float: right;
    max-height: none;
  }
  .mobileHidden {
    @media (max-width: 900px) {
      display: none;
    }
  }
  .links-icon {
    display: none;
  }
}

.nav-spacer {
  padding-top: 58px;
}

.centre {
  margin: auto;
  width: 50%;
}

$class-name: columnsize !default;

@for $i from 1 through 12 {
  $percentage: percentage($i/12);

  .#{$class-name}-#{$i} {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 $percentage;
    flex: 0 0 $percentage;
    max-width: $percentage;
  }

  @media (max-width: 768px) {
    .#{$class-name}-#{$i} {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

$spacerName: topBottomSpace !default;

@for $i from 10 through 100 {
  @if ($i) % 10 == 0 {
    .#{$spacerName}-#{$i} {
      padding-top: $i + unquote("px");
      padding-bottom: $i + unquote("px");
    }
  }
}

.registration {
  padding: 5%;
  background: $mainColour;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);

  input {
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%;
    border-radius: 5px;
  }
  .inputBox-half {
    width: 50%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%;
  }

  .metamask-button {
    width: 50%;
    font-weight: 310;
    background-color: orange;
    cursor: pointer;
  }

  h3 {
    text-align: center;
    color: black;
    font-size: 2rem;
  }
  .btnSubmit {
    font-weight: 600;
    background-color: white;
    &:hover {
      background-color: orange;
    }
  }
  .ForgetPwd {
    font-weight: 600;
    text-decoration: none;
  }

  select {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 15px;
  }
}
.login-form {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);

  input {
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%;
    border-radius: 5px;
  }
  .inputBox-half {
    width: 50%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%;
  }

  .metamask-button {
    width: 50%;
    font-weight: 310;
    background-color: orange;
    cursor: pointer;
  }

  h3 {
    text-align: center;
    color: black;
    font-size: 2rem;
  }

  .btnSubmit {
    font-weight: 600;
    background-color: $mainColourHover;
    &:hover {
      background-color: orange;
    }
  }
  .ForgetPassword {
    font-weight: 600;
    color: blue;
    text-decoration: none;
  }
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $mainColourHover;
    color: white;
  }
  tr {
    &:nth-child(even) {
      background-color: #f2f2f2;
    }
    &:hover {
      background-color: #ddd;
    }
  }
  .removeButton {
    background-color: red;
    color: white;
    font-size: 2rem;
    border-radius: 7px;
    margin-left: 25%;
    cursor: pointer;
  }
}

.greyBox {
  background: rgba(197, 195, 195, 0.664);
  padding: 2%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;

  h4 {
    color: black;
    font-size: 1.5rem;
  }

  label {
    width: 33%;
    float: left;
    @media (max-width: 900px) {
      width: 100%;
    }
  }
  label.white {
    width: 100%;
    float: left;

    input {
      width: 70%;
      font-size: 1rem;
      height: 3rem;
      margin-bottom: 5%;
      border-radius: 5px;
    }

    input[type="button"] {
      width: 30%;
      &:hover {
        background-color: orange;
      }
      font-size: 1rem;
      height: 3rem;
      border-radius: 5px;
      background: $mainColour;
    }

    .addressButton {
      @media (max-width: 900px) {
        font-size: 0.5rem;
      }
    }
  }
  span {
    display: block;
    margin: 0 0 3px;
    font-size: 1.2em;
    font-weight: bold;
  }

  input,
  select {
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%;
    border-radius: 5px;
  }

  select {
    color: transparent;
  }

  input[type="button"] {
    &:hover {
      background-color: orange;
    }
    font-size: 1rem;
    height: 3rem;
    border-radius: 5px;
    background: $mainColour;
  }
}

.nameInput {
  width: 50%;
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 2%;
  border-radius: 5px;
}

.error {
  color: #d8000c;
  background-color: #ffd2d2;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  padding-left: 4%;
}

.createPoll {
  margin-left: 25%;
  width: 50%;
  font-size: 1.5rem;
  height: 3rem;
  margin-top: 5%;
  border-radius: 5px;
  font-weight: 600;
  background-color: $mainColour;
  &:hover {
    background-color: orange;
  }

  @media (max-width: 900px) {
    font-size: 1rem;
  }
}

.topBox {
  label {
    width: 50%;
    float: left;
  }
  span {
    display: block;
    margin: 0 0 3px;
    font-size: 1.2em;
    font-weight: bold;
  }
  input {
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%;
    border-radius: 5px;
  }
  input[type="date"] {
    font-size: 2.5rem;
    @media (max-width: 900px) {
      font-size: 1.4rem;
    }
  }
}

.smallTable {
  width: 100%;
  table-layout: fixed;
  .desktopOnly {
    @media (max-width: 900px) {
      display: none;
    }
  }
}

.breakItem {
  overflow-wrap: break-word;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid $mainColour;
  border-right: 1.1em solid $mainColourHover;
  border-bottom: 1.1em solid $mainColourHover;
  border-left: 1.1em solid $mainColour;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
  &:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
}

.ballot {
  width: 60%;
  margin: auto;
  thead {
    font-size: 2em;
  }
  .party {
    float: left;
  }
  .box {
    font-size: 10em;
    text-align: center;
  }
  td {
    width: 25vw;
    @media (max-width: 900px) {
      font-size: 1rem;
    }
  }

  select {
    font-size: 2rem;
    width: 15vw;

    @media (max-width: 900px) {
      /* for Firefox */
      -moz-appearance: none;
      /* for Chrome */
      -webkit-appearance: none;

      /* For IE10 */
      &:-ms-expand {
        display: none;
      }

      padding-left: 25%;

    }
  }
}

.ballot-button {
  margin-left: 25%;
  width: 50%;
  font-size: 1.5rem;
  height: 3rem;
  margin-top: 5%;
  border-radius: 5px;
  font-weight: 600;
  background-color: $mainColour;
  &:hover {
    background-color: orange;
  }

  @media (max-width: 900px) {
    font-size: 1rem;
  }
}

.verification {
  height: 7em;
  width: 100%;
  border-radius: 10px;
  background-color: #27e343;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 3px;

  select {
    height: 3.5rem;
    font-size: 2rem;
    width: 60%;
    margin-left: 20%;
    @media (max-width: 900px) {
      font-size: 1rem;
    }
  }
}

.spacer10 {
  padding-top: 40px;
}

.colouredBox {
  width: 5em;
  height: 5em;
  float: left;
  margin: 1em;
}

.electionItem {
  max-width: 95%;
  margin-left: 2.5%;
  margin-bottom: 5%;

  .topBarItem {
    background: $mainColourHover;
    border-radius: 10px 10px 0 0;
    svg {
      margin-left: 10px;
      height: 1.5em;
      width: 1.5em;
    }
    span {
      font-size: 2em;
    }
  }
  .contentItem {
    padding: 5px;
    border-radius: 0 0 10px 10px;
    border: rgba(0, 0, 0, 0.4);
    border-width: 2px;
    border-style: solid;
    min-height: 250px;
    @media (max-width: 980px) {
      min-height: 280px;
    }

    p,
    span {
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
    }
    .tipSection {
      margin-bottom: 2%;
      button {
        font-size: 0.8rem;
        height: 2rem;
        border-radius: 4px;
        background: orange;
        cursor: pointer;
      }
    }
    .navigationButton {
      width: 60%;
      margin-left: 20%;
      font-size: 2rem;
      height: 3rem;
      border-radius: 5px;
      background: $mainColour;
      cursor: pointer;
      svg {
        height: 0.75em;
        width: 0.75em;
      }
      &:hover {
        background: $mainColourHover;
      }
    }
  }
}

$whiteGrey: #e6e6e6;
$white: #fefefe;

.progress-indicator {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;
  margin-bottom: 8%;
  > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    span {
      position: absolute;
      color: $whiteGrey;
      font-weight: 600;
      font-size: 0.875rem;
      letter-spacing: 0.05px;
      text-transform: uppercase;
      align-content: center;
      @media (max-width: 900px) {
        display: none;
      }
    }
    &::before {
      content: attr(data-step);
      display: block;
      margin: 0 auto;
      background: #e6e6e6;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      margin-bottom: 0.25em;
      line-height: 1.5em;
      border-radius: 100%;
      position: relative;
      z-index: 4;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      background: $whiteGrey;
      width: 100%;
      height: 0.15em;
      top: 50%;
      left: 50%;
      z-index: 0;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  > li.is-complete {
    color: $mainColour;
    &::before {
      color: $white;
      background: #1779ba;
    }
    &::after {
      color: $white;
      background: #1779ba;
    }
    span {
      color: $mainColour;
    }
  }
  > li.is-current {
    color: $white;
    &::before {
      color: $white;
      background: #4eabe9;
    }
    span {
      color: $mainColourHover;
    }
  }
}

.arrow {
  border: solid black;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 20px;
  margin-bottom: 10%;
  margin-top: 10%;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  float: right;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.toggle-check {
  .toggle-check-input {
    width: 1px;
    height: 1px;
    position: absolute;
    &:checked {
      & ~ .toggle-check-text {
        background: #8ad869;
        padding-left: 0.5em;
        padding-right: 2em;
        &:before {
          content: "Enabled";
        }
        &:after {
          left: 100%;
          margin-left: -1.4em;
        }
      }
    }
  }
  .toggle-check-text {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    background: #ccc;
    padding: 0.25em 0.5em 0.25em 2em;
    border-radius: 1em;
    min-width: 2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.15s;
    &:after {
      content: " ";
      display: block;
      background: #fff;
      width: 1.1em;
      height: 1.1em;
      border-radius: 1em;
      position: absolute;
      left: 0.3em;
      top: 0.25em;
      transition: left 0.15s, margin-left 0.15s;
    }
    &:before {
      content: "Not Enabled";
    }
  }
}

.noResultsIcon {
  height: 50%;
  margin-top: 5%;
  margin-left: 33%;
}

.div-60 {
  margin-left: 20%;
  width: 60%;
}

.inputBox-70 {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  width: 70%;
  font-size: 1rem;
  height: 3rem;
}

.inputBox-100 {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
  height: 3rem;
}

.inputBox-60 {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  margin-left: 20%;
  width: 60%;
  font-size: 1rem;
  height: 3rem;
}

.metamask-button-30 {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  width: 30%;
  font-weight: 500;
  background-color: orange;
  cursor: pointer;
}

.sendLinkButton {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  width: 50%;
  font-weight: 500;
  margin-left: 25%;
  background-color: $mainColour;
  &:hover {
    background-color: $mainColourHover;
  }
}

.resetForm {
  h4 {
    margin-left: 20%;
  }
  button {
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 1%;
    border-radius: 5px;
    margin-left: 30%;
    width: 40%;
    font-weight: 500;
    background-color: $mainColour;
    &:hover {
      background-color: $mainColourHover;
    }
    cursor: pointer;
  }
}

.left_td {
  cursor: pointer;
}

.requirements {
  background: white;
  border-radius: 5px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    .modalInput {
      width: 100%;
    }
  }

  p {
    color: red;
  }
  button {
    width: 95%;
    font-size: 1rem;
    height: 3rem;
    border-radius: 5px;
    margin-bottom: 2%;
    cursor: pointer;
    background-color: $mainColour;
    &:hover {
      background-color: $mainColourHover;
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  input {
    height: 50px;
    width: 350px;
    border-radius: 7px;
    font-size: 1.5rem;
  }
}

.etherInput {
  width: 100%;
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 5%;
  border-radius: 5px;
}

.Text404 {
  font-size: 15rem;
  margin-left: 25%;
}

.Message404 {
  margin-left: 35%;
}

.dropdownCurrency {
  width: 100%;
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 5%;
  border-radius: 5px;
}

.homePageButtons {
  a {
    text-decoration: none;
    color: black;
  }
  cursor: pointer;
  width: 50%;
  font-size: 1rem;
  @media (max-width: 900px) {
    font-size: 3.5vw;
  }
  height: 3rem;
  margin-top: 5%;
  border-radius: 5px;
  font-weight: 600;
  background-color: $mainColour;
  &:hover {
    background-color: $mainColourHover;
  }
}

.blackBackground {
  background-color: black;
  .HeadingText {
    text-align: center;
    font-size: 5rem;
    font-size: 4vw;
    z-index: 2;
    position: absolute;
    top: 25vw;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    @media (max-width: 900px) {
      top: 40vw;
    }
  }
  .particleEffects {
    z-index: 1;
  }
}

.labelCover {
  width: 100%;
  float: left;

  span {
    display: block;
    margin: 0 0 3px;
    font-size: 1.2em;
    font-weight: bold;
  }

  input {
    width: 60%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%;
    border-radius: 5px;
  }

  button {
    width: 30%;
    &:hover {
      background-color: orange;
    }
    font-size: 1rem;
    height: 3rem;
    border-radius: 5px;
    background: $mainColour;
  }
}

.boxAccount {
  svg {
    width: 40%;
    height: auto;
    margin-left: 30%;
  }

  button {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    font-size: 2vw;
    background-color: orange;
    border-color: orange;
    cursor: pointer;
  }

  .ethValue {
    font-size: 4vw;
    text-align: center;
  }

  .loader {
    border-top: 1.1em solid black;
    border-right: 1.1em solid white;
    border-bottom: 1.1em solid white;
    border-left: 1.1em solid black;
  }

  word-wrap: break-word;
  margin: 5%;
  display: inline-block;
  width: 80%;
  height: 80%;
  padding: 10%;
  border-radius: 5px;
  background-color: $mainColourHover;
  box-shadow: 0 10px 10px $mainColour;
  transition: all 0.3s ease-in-out;
  &:after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(188, 203, 235, 0.979);
    transition: opacity 0.3s ease-in-out;
  }
  &:hover {
    transform: scale(1.05, 1.05);
    &:after {
      opacity: 1;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
  }
}

.boxElection {
  word-wrap: break-word;
  margin: 5%;
  display: inline-block;
  width: 70%;
  height: 80%;
  padding: 10%;
  border-radius: 5px;
  background-color: $mainColourHover;
  box-shadow: 0 10px 10px $mainColour;
  transition: all 0.3s ease-in-out;
  &:after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(188, 203, 235, 0.979);
    transition: opacity 0.3s ease-in-out;
  }
  &:hover {
    transform: scale(1.05, 1.05);
    &:after {
      opacity: 1;
    }
  }
}

.toggle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid $mainColour;
  border-radius: 0.625rem;
  overflow: hidden;
  margin-bottom: 1rem;
  .button {
    background: transparent;
    color: $mainColour;
    margin-bottom: 0;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    height: 50px;
    flex: 1 0 0;
    font-size: 20px;
    &:nth-child(n + 1) {
      border-left: 1px solid $mainColourHover;
    }
  }
  .button.is-active {
    background: $mainColour;
    color: white;
  }
}

.bordaBoxes {
  width: 100%;
  height: 100px;
  font-size: 50px;
}

.width90 {
  width: 90%;
}

.sideBar {
  background-color: $mainColourHover;
  width: 16%;
  height: 95vh;
  margin: 0;
  position: fixed;
  padding: 5px;
  ul {
    padding-left: 5px;
  }

  li {
    padding-bottom: 70px;
    list-style-type: none;
  }
  h3 {
    @media (max-width: 900px) {
      display: none;
    }
  }

  a {
    cursor: pointer;

    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    color: black;
    &:hover {
      color: red;
    }

    svg {
      width: 15%;
      height: auto;
      @media (max-width: 900px) {
        width: 90%;
        height: auto;
      }
    }

    span {
      font-size: 1.5rem;

      @media (max-width: 900px) {
        display: none;
      }
    }
    &:hover {
      transform: scale(1.05, 1.05);
    }
  }
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.dropdown {
  max-height: 58px;
  p {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    &:hover {
      background-color: $mainColourHover;
    }
  }

  .mobileLink {
    @media (min-width: 900px) {
      display: none;
    }
  }

  .deskopLink {
    @media (max-width: 900px) {
      display: none;
    }
  }

  float: right;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  clear: right;
  z-index: 0;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid black;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    &:hover {
      background-color: #b4b4b4;
    }
  }
}

.dropdown-links {
  background-color: #f1f1f1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.content {
  margin-left: 17%;
}

.selectElection {
  width: 50vw;
  font-size: 2rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  @media (max-width: 900px) {
    font-size: 1rem;
  }
}

br {
  @media (min-width: 900px) {
    display: none;
  }
}

.selectElectionSpan {
  font-size: 2rem;
}

.depositButton {
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 7px;
  @media (max-width: 900px) {
    font-size: 1rem;
  }
}

.enlargeRequirement {
  p {
    font-size: 1.3rem;
  }
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-1 {
  margin-bottom: 1%;
}

.settingsButtonPassword {
  width: 60%;
  margin-left: 20%;
  font-size: 2rem;
  border-radius: 10px;
  background-color: $mainColour;
  cursor: pointer;
  margin-bottom: 50px;
  @media (max-width: 900px) {
    font-size: 1.25rem;
  }

  &:hover {
    background-color: $mainColourHover;
    transform: scale(1.01, 1.01);
  }
}

.selectSettings {
  font-size: 1.5rem;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  @media (max-width: 900px) {
    font-size: 0.9rem;
  }
}

.margin-left-15 {
  margin-left: 15%;
}

.help {
  h1 {
    font-size: 3rem;
  }

  h2 {
    margin-top: 80px;
  }

  h4 {
    font-size: 1.3rem;
  }

  li {
    font-size: 1.3rem;
  }

  iframe {
    width: 95%;
  }

  .faq {
    margin: 0 auto;
    cursor: pointer;
  }
  .faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
  }
  .panel-title {
    font-size: 24px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
  }
  .panel-content {
    font-size: 20px;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .panelOpen {
    .panel-content {
      height: auto;
      opacity: 1;
      padding: 14px;
    }
    .plus {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .plus {
    position: absolute;
    margin-left: 20px;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
}

.textarea-fill {
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  height: unset;
  resize: none;
}

.colourSquare {
  width: 100px;
  height: 100px;
}

.aqua {
  background-color: #00ffff;
}
.descriptionElection {
  padding-left: 5%;
  padding-right: 5%;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.svgLoading {
  display: block;
  margin-left: 15%;
  margin-top: 15%;
  @media (max-width: 900px) {
    margin-left: 10%;
  }
}

.svgContainer {
  @media (max-width: 900px) {
    display: none;
  }
}

.svgContainerMobile {
  @media (min-width: 900px) {
    display: none;
  }
}

.candidateTable {
  td {
    @media (max-width: 900px) {
      word-wrap: break-word;
      max-width: 18vw;
    }
  }
  button {
    font-size: 0.6rem;
    margin-left: 0;
  }
}

.whitelistTable {
  td {
    @media (max-width: 900px) {
      word-wrap: break-word;
      max-width: 5vw;
    }
  }
}
