<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/style.css"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

    <title>Blockchain Voting: <%- title -%></title>
  </head>
  <body>