*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  /* makes the anchor tag navigation smooth */
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  -ms-overflow-style: auto;
  font-family: sans-serif; }

body {
  margin: 0 0; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 5%;
  padding-right: 3%; }

.rowParticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0%;
  padding-right: 0%; }

.mainNav {
  z-index: 9; }

nav {
  background-color: #1486ba;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 100%;
  max-height: 58px; }
  nav form {
    min-height: 58px; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #1486ba; }
  nav li {
    max-height: 58px;
    float: left;
    position: relative;
    z-index: 10;
    background-color: #1486ba; }
    nav li:hover {
      background: #18aaed; }
    nav li a {
      display: block;
      padding: 20px 20px;
      border-right: 1px solid #f4f4f4;
      color: white;
      text-decoration: none;
      font-size: 1em; }
    nav li input {
      width: 80%;
      font-size: 1rem;
      height: 2rem;
      margin-top: 5%;
      margin-left: 10%;
      margin-bottom: 8%;
      border-radius: 5px; }
  nav .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 15px 20px 0px 10px;
    text-decoration: none;
    color: white; }
  nav .links {
    clear: none;
    float: right;
    max-height: none; }
  @media (max-width: 900px) {
    nav .mobileHidden {
      display: none; } }
  nav .links-icon {
    display: none; }

.nav-spacer {
  padding-top: 58px; }

.centre {
  margin: auto;
  width: 50%; }

.columnsize-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

@media (max-width: 768px) {
  .columnsize-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.columnsize-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

@media (max-width: 768px) {
  .columnsize-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.columnsize-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

@media (max-width: 768px) {
  .columnsize-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.columnsize-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

@media (max-width: 768px) {
  .columnsize-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.columnsize-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

@media (max-width: 768px) {
  .columnsize-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.columnsize-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

@media (max-width: 768px) {
  .columnsize-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.columnsize-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

@media (max-width: 768px) {
  .columnsize-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.columnsize-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

@media (max-width: 768px) {
  .columnsize-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.columnsize-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

@media (max-width: 768px) {
  .columnsize-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.columnsize-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

@media (max-width: 768px) {
  .columnsize-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.columnsize-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

@media (max-width: 768px) {
  .columnsize-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.columnsize-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

@media (max-width: 768px) {
  .columnsize-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.topBottomSpace-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.topBottomSpace-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.topBottomSpace-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.topBottomSpace-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.topBottomSpace-50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.topBottomSpace-60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.topBottomSpace-70 {
  padding-top: 70px;
  padding-bottom: 70px; }

.topBottomSpace-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.topBottomSpace-90 {
  padding-top: 90px;
  padding-bottom: 90px; }

.topBottomSpace-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.registration {
  padding: 5%;
  background: #1486ba;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); }
  .registration input {
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%;
    border-radius: 5px; }
  .registration .inputBox-half {
    width: 50%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%; }
  .registration .metamask-button {
    width: 50%;
    font-weight: 310;
    background-color: orange;
    cursor: pointer; }
  .registration h3 {
    text-align: center;
    color: black;
    font-size: 2rem; }
  .registration .btnSubmit {
    font-weight: 600;
    background-color: white; }
    .registration .btnSubmit:hover {
      background-color: orange; }
  .registration .ForgetPwd {
    font-weight: 600;
    text-decoration: none; }
  .registration select {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 15px; }

.login-form {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); }
  .login-form input {
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%;
    border-radius: 5px; }
  .login-form .inputBox-half {
    width: 50%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%; }
  .login-form .metamask-button {
    width: 50%;
    font-weight: 310;
    background-color: orange;
    cursor: pointer; }
  .login-form h3 {
    text-align: center;
    color: black;
    font-size: 2rem; }
  .login-form .btnSubmit {
    font-weight: 600;
    background-color: #18aaed; }
    .login-form .btnSubmit:hover {
      background-color: orange; }
  .login-form .ForgetPassword {
    font-weight: 600;
    color: blue;
    text-decoration: none; }

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer; }

table {
  border-collapse: collapse;
  width: 100%; }
  table td {
    border: 1px solid #ddd;
    padding: 8px; }
  table th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #18aaed;
    color: white; }
  table tr:nth-child(even) {
    background-color: #f2f2f2; }
  table tr:hover {
    background-color: #ddd; }
  table .removeButton {
    background-color: red;
    color: white;
    font-size: 2rem;
    border-radius: 7px;
    margin-left: 25%;
    cursor: pointer; }

.greyBox {
  background: rgba(197, 195, 195, 0.664);
  padding: 2%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px; }
  .greyBox h4 {
    color: black;
    font-size: 1.5rem; }
  .greyBox label {
    width: 33%;
    float: left; }
    @media (max-width: 900px) {
      .greyBox label {
        width: 100%; } }
  .greyBox label.white {
    width: 100%;
    float: left; }
    .greyBox label.white input {
      width: 70%;
      font-size: 1rem;
      height: 3rem;
      margin-bottom: 5%;
      border-radius: 5px; }
    .greyBox label.white input[type="button"] {
      width: 30%;
      font-size: 1rem;
      height: 3rem;
      border-radius: 5px;
      background: #1486ba; }
      .greyBox label.white input[type="button"]:hover {
        background-color: orange; }
    @media (max-width: 900px) {
      .greyBox label.white .addressButton {
        font-size: 0.5rem; } }
  .greyBox span {
    display: block;
    margin: 0 0 3px;
    font-size: 1.2em;
    font-weight: bold; }
  .greyBox input,
  .greyBox select {
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%;
    border-radius: 5px; }
  .greyBox select {
    color: transparent; }
  .greyBox input[type="button"] {
    font-size: 1rem;
    height: 3rem;
    border-radius: 5px;
    background: #1486ba; }
    .greyBox input[type="button"]:hover {
      background-color: orange; }

.nameInput {
  width: 50%;
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 2%;
  border-radius: 5px; }

.error {
  color: #d8000c;
  background-color: #ffd2d2;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  padding-left: 4%; }

.createPoll {
  margin-left: 25%;
  width: 50%;
  font-size: 1.5rem;
  height: 3rem;
  margin-top: 5%;
  border-radius: 5px;
  font-weight: 600;
  background-color: #1486ba; }
  .createPoll:hover {
    background-color: orange; }
  @media (max-width: 900px) {
    .createPoll {
      font-size: 1rem; } }

.topBox label {
  width: 50%;
  float: left; }

.topBox span {
  display: block;
  margin: 0 0 3px;
  font-size: 1.2em;
  font-weight: bold; }

.topBox input {
  width: 100%;
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 5%;
  border-radius: 5px; }

.topBox input[type="date"] {
  font-size: 2.5rem; }
  @media (max-width: 900px) {
    .topBox input[type="date"] {
      font-size: 1.4rem; } }

.smallTable {
  width: 100%;
  table-layout: fixed; }
  @media (max-width: 900px) {
    .smallTable .desktopOnly {
      display: none; } }

.breakItem {
  overflow-wrap: break-word; }

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.loader {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #1486ba;
  border-right: 1.1em solid #18aaed;
  border-bottom: 1.1em solid #18aaed;
  border-left: 1.1em solid #1486ba;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear; }
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em; }

.ballot {
  width: 60%;
  margin: auto; }
  .ballot thead {
    font-size: 2em; }
  .ballot .party {
    float: left; }
  .ballot .box {
    font-size: 10em;
    text-align: center; }
  .ballot td {
    width: 25vw; }
    @media (max-width: 900px) {
      .ballot td {
        font-size: 1rem; } }
  .ballot select {
    font-size: 2rem;
    width: 15vw; }
    @media (max-width: 900px) {
      .ballot select {
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
        /* For IE10 */
        padding-left: 25%; }
        .ballot select:-ms-expand {
          display: none; } }

.ballot-button {
  margin-left: 25%;
  width: 50%;
  font-size: 1.5rem;
  height: 3rem;
  margin-top: 5%;
  border-radius: 5px;
  font-weight: 600;
  background-color: #1486ba; }
  .ballot-button:hover {
    background-color: orange; }
  @media (max-width: 900px) {
    .ballot-button {
      font-size: 1rem; } }

.verification {
  height: 7em;
  width: 100%;
  border-radius: 10px;
  background-color: #27e343; }

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 3px; }
  .tab select {
    height: 3.5rem;
    font-size: 2rem;
    width: 60%;
    margin-left: 20%; }
    @media (max-width: 900px) {
      .tab select {
        font-size: 1rem; } }

.spacer10 {
  padding-top: 40px; }

.colouredBox {
  width: 5em;
  height: 5em;
  float: left;
  margin: 1em; }

.electionItem {
  max-width: 95%;
  margin-left: 2.5%;
  margin-bottom: 5%; }
  .electionItem .topBarItem {
    background: #18aaed;
    border-radius: 10px 10px 0 0; }
    .electionItem .topBarItem svg {
      margin-left: 10px;
      height: 1.5em;
      width: 1.5em; }
    .electionItem .topBarItem span {
      font-size: 2em; }
  .electionItem .contentItem {
    padding: 5px;
    border-radius: 0 0 10px 10px;
    border: rgba(0, 0, 0, 0.4);
    border-width: 2px;
    border-style: solid;
    min-height: 250px; }
    @media (max-width: 980px) {
      .electionItem .contentItem {
        min-height: 280px; } }
    .electionItem .contentItem p,
    .electionItem .contentItem span {
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word; }
    .electionItem .contentItem .tipSection {
      margin-bottom: 2%; }
      .electionItem .contentItem .tipSection button {
        font-size: 0.8rem;
        height: 2rem;
        border-radius: 4px;
        background: orange;
        cursor: pointer; }
    .electionItem .contentItem .navigationButton {
      width: 60%;
      margin-left: 20%;
      font-size: 2rem;
      height: 3rem;
      border-radius: 5px;
      background: #1486ba;
      cursor: pointer; }
      .electionItem .contentItem .navigationButton svg {
        height: 0.75em;
        width: 0.75em; }
      .electionItem .contentItem .navigationButton:hover {
        background: #18aaed; }

.progress-indicator {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;
  margin-bottom: 8%; }
  .progress-indicator > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer; }
    .progress-indicator > li span {
      position: absolute;
      color: #e6e6e6;
      font-weight: 600;
      font-size: 0.875rem;
      letter-spacing: 0.05px;
      text-transform: uppercase;
      align-content: center; }
      @media (max-width: 900px) {
        .progress-indicator > li span {
          display: none; } }
    .progress-indicator > li::before {
      content: attr(data-step);
      display: block;
      margin: 0 auto;
      background: #e6e6e6;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      margin-bottom: 0.25em;
      line-height: 1.5em;
      border-radius: 100%;
      position: relative;
      z-index: 4; }
    .progress-indicator > li::after {
      content: "";
      position: absolute;
      display: block;
      background: #e6e6e6;
      width: 100%;
      height: 0.15em;
      top: 50%;
      left: 50%;
      z-index: 0; }
    .progress-indicator > li:last-child:after {
      display: none; }
  .progress-indicator > li.is-complete {
    color: #1486ba; }
    .progress-indicator > li.is-complete::before {
      color: #fefefe;
      background: #1779ba; }
    .progress-indicator > li.is-complete::after {
      color: #fefefe;
      background: #1779ba; }
    .progress-indicator > li.is-complete span {
      color: #1486ba; }
  .progress-indicator > li.is-current {
    color: #fefefe; }
    .progress-indicator > li.is-current::before {
      color: #fefefe;
      background: #4eabe9; }
    .progress-indicator > li.is-current span {
      color: #18aaed; }

.arrow {
  border: solid black;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 20px;
  margin-bottom: 10%;
  margin-top: 10%;
  cursor: pointer; }

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  float: right; }

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

.toggle-check .toggle-check-input {
  width: 1px;
  height: 1px;
  position: absolute; }
  .toggle-check .toggle-check-input:checked ~ .toggle-check-text {
    background: #8ad869;
    padding-left: 0.5em;
    padding-right: 2em; }
    .toggle-check .toggle-check-input:checked ~ .toggle-check-text:before {
      content: "Enabled"; }
    .toggle-check .toggle-check-input:checked ~ .toggle-check-text:after {
      left: 100%;
      margin-left: -1.4em; }

.toggle-check .toggle-check-text {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  background: #ccc;
  padding: 0.25em 0.5em 0.25em 2em;
  border-radius: 1em;
  min-width: 2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s; }
  .toggle-check .toggle-check-text:after {
    content: " ";
    display: block;
    background: #fff;
    width: 1.1em;
    height: 1.1em;
    border-radius: 1em;
    position: absolute;
    left: 0.3em;
    top: 0.25em;
    transition: left 0.15s, margin-left 0.15s; }
  .toggle-check .toggle-check-text:before {
    content: "Not Enabled"; }

.noResultsIcon {
  height: 50%;
  margin-top: 5%;
  margin-left: 33%; }

.div-60 {
  margin-left: 20%;
  width: 60%; }

.inputBox-70 {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  width: 70%;
  font-size: 1rem;
  height: 3rem; }

.inputBox-100 {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
  height: 3rem; }

.inputBox-60 {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  margin-left: 20%;
  width: 60%;
  font-size: 1rem;
  height: 3rem; }

.metamask-button-30 {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  width: 30%;
  font-weight: 500;
  background-color: orange;
  cursor: pointer; }

.sendLinkButton {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  width: 50%;
  font-weight: 500;
  margin-left: 25%;
  background-color: #1486ba; }
  .sendLinkButton:hover {
    background-color: #18aaed; }

.resetForm h4 {
  margin-left: 20%; }

.resetForm button {
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px;
  margin-left: 30%;
  width: 40%;
  font-weight: 500;
  background-color: #1486ba;
  cursor: pointer; }
  .resetForm button:hover {
    background-color: #18aaed; }

.left_td {
  cursor: pointer; }

.requirements {
  background: white;
  border-radius: 5px; }

.valid {
  color: green; }

.invalid {
  color: red; }

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%; }
    .modal .modal-content .modalInput {
      width: 100%; }
  .modal p {
    color: red; }
  .modal button {
    width: 95%;
    font-size: 1rem;
    height: 3rem;
    border-radius: 5px;
    margin-bottom: 2%;
    cursor: pointer;
    background-color: #1486ba; }
    .modal button:hover {
      background-color: #18aaed; }
  .modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
  .modal .close:hover,
  .modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }
  .modal input {
    height: 50px;
    width: 350px;
    border-radius: 7px;
    font-size: 1.5rem; }

.etherInput {
  width: 100%;
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 5%;
  border-radius: 5px; }

.Text404 {
  font-size: 15rem;
  margin-left: 25%; }

.Message404 {
  margin-left: 35%; }

.dropdownCurrency {
  width: 100%;
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 5%;
  border-radius: 5px; }

.homePageButtons {
  cursor: pointer;
  width: 50%;
  font-size: 1rem;
  height: 3rem;
  margin-top: 5%;
  border-radius: 5px;
  font-weight: 600;
  background-color: #1486ba; }
  .homePageButtons a {
    text-decoration: none;
    color: black; }
  @media (max-width: 900px) {
    .homePageButtons {
      font-size: 3.5vw; } }
  .homePageButtons:hover {
    background-color: #18aaed; }

.blackBackground {
  background-color: black; }
  .blackBackground .HeadingText {
    text-align: center;
    font-size: 5rem;
    font-size: 4vw;
    z-index: 2;
    position: absolute;
    top: 25vw;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; }
    @media (max-width: 900px) {
      .blackBackground .HeadingText {
        top: 40vw; } }
  .blackBackground .particleEffects {
    z-index: 1; }

.labelCover {
  width: 100%;
  float: left; }
  .labelCover span {
    display: block;
    margin: 0 0 3px;
    font-size: 1.2em;
    font-weight: bold; }
  .labelCover input {
    width: 60%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 5%;
    border-radius: 5px; }
  .labelCover button {
    width: 30%;
    font-size: 1rem;
    height: 3rem;
    border-radius: 5px;
    background: #1486ba; }
    .labelCover button:hover {
      background-color: orange; }

.boxAccount {
  word-wrap: break-word;
  margin: 5%;
  display: inline-block;
  width: 80%;
  height: 80%;
  padding: 10%;
  border-radius: 5px;
  background-color: #18aaed;
  box-shadow: 0 10px 10px #1486ba;
  transition: all 0.3s ease-in-out; }
  .boxAccount svg {
    width: 40%;
    height: auto;
    margin-left: 30%; }
  .boxAccount button {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    font-size: 2vw;
    background-color: orange;
    border-color: orange;
    cursor: pointer; }
  .boxAccount .ethValue {
    font-size: 4vw;
    text-align: center; }
  .boxAccount .loader {
    border-top: 1.1em solid black;
    border-right: 1.1em solid white;
    border-bottom: 1.1em solid white;
    border-left: 1.1em solid black; }
  .boxAccount:after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(188, 203, 235, 0.979);
    transition: opacity 0.3s ease-in-out; }
  .boxAccount:hover {
    transform: scale(1.05, 1.05); }
    .boxAccount:hover:after {
      opacity: 1; }
  .boxAccount h2 {
    margin-top: 0;
    margin-bottom: 0; }
  .boxAccount h3 {
    margin-top: 0; }

.boxElection {
  word-wrap: break-word;
  margin: 5%;
  display: inline-block;
  width: 70%;
  height: 80%;
  padding: 10%;
  border-radius: 5px;
  background-color: #18aaed;
  box-shadow: 0 10px 10px #1486ba;
  transition: all 0.3s ease-in-out; }
  .boxElection:after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(188, 203, 235, 0.979);
    transition: opacity 0.3s ease-in-out; }
  .boxElection:hover {
    transform: scale(1.05, 1.05); }
    .boxElection:hover:after {
      opacity: 1; }

.toggle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid #1486ba;
  border-radius: 0.625rem;
  overflow: hidden;
  margin-bottom: 1rem; }
  .toggle .button {
    background: transparent;
    color: #1486ba;
    margin-bottom: 0;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    height: 50px;
    flex: 1 0 0;
    font-size: 20px; }
    .toggle .button:nth-child(n + 1) {
      border-left: 1px solid #18aaed; }
  .toggle .button.is-active {
    background: #1486ba;
    color: white; }

.bordaBoxes {
  width: 100%;
  height: 100px;
  font-size: 50px; }

.width90 {
  width: 90%; }

.sideBar {
  background-color: #18aaed;
  width: 16%;
  height: 95vh;
  margin: 0;
  position: fixed;
  padding: 5px; }
  .sideBar ul {
    padding-left: 5px; }
  .sideBar li {
    padding-bottom: 70px;
    list-style-type: none; }
  @media (max-width: 900px) {
    .sideBar h3 {
      display: none; } }
  .sideBar a {
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    color: black; }
    .sideBar a:hover {
      color: red; }
    .sideBar a svg {
      width: 15%;
      height: auto; }
      @media (max-width: 900px) {
        .sideBar a svg {
          width: 90%;
          height: auto; } }
    .sideBar a span {
      font-size: 1.5rem; }
      @media (max-width: 900px) {
        .sideBar a span {
          display: none; } }
    .sideBar a:hover {
      transform: scale(1.05, 1.05); }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.dropdown {
  max-height: 58px;
  float: right;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  clear: right;
  z-index: 0; }
  .dropdown p {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */ }
    .dropdown p:hover {
      background-color: #18aaed; }
  @media (min-width: 900px) {
    .dropdown .mobileLink {
      display: none; } }
  @media (max-width: 900px) {
    .dropdown .deskopLink {
      display: none; } }
  .dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid black;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */ }
    .dropdown a:hover {
      background-color: #b4b4b4; }

.dropdown-links {
  background-color: #f1f1f1; }

.dropdown-content a:hover {
  background-color: #ddd; }

.content {
  margin-left: 17%; }

.selectElection {
  width: 50vw;
  font-size: 2rem;
  height: 3rem;
  margin-bottom: 1%;
  border-radius: 5px; }
  @media (max-width: 900px) {
    .selectElection {
      font-size: 1rem; } }

@media (min-width: 900px) {
  br {
    display: none; } }

.selectElectionSpan {
  font-size: 2rem; }

.depositButton {
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 7px; }
  @media (max-width: 900px) {
    .depositButton {
      font-size: 1rem; } }

.enlargeRequirement p {
  font-size: 1.3rem; }

.margin-top-0 {
  margin-top: 0; }

.margin-bottom-1 {
  margin-bottom: 1%; }

.settingsButtonPassword {
  width: 60%;
  margin-left: 20%;
  font-size: 2rem;
  border-radius: 10px;
  background-color: #1486ba;
  cursor: pointer;
  margin-bottom: 50px; }
  @media (max-width: 900px) {
    .settingsButtonPassword {
      font-size: 1.25rem; } }
  .settingsButtonPassword:hover {
    background-color: #18aaed;
    transform: scale(1.01, 1.01); }

.selectSettings {
  font-size: 1.5rem;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 5px;
  text-overflow: ellipsis; }
  @media (max-width: 900px) {
    .selectSettings {
      font-size: 0.9rem; } }

.margin-left-15 {
  margin-left: 15%; }

.help h1 {
  font-size: 3rem; }

.help h2 {
  margin-top: 80px; }

.help h4 {
  font-size: 1.3rem; }

.help li {
  font-size: 1.3rem; }

.help iframe {
  width: 95%; }

.help .faq {
  margin: 0 auto;
  cursor: pointer; }

.help .faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc; }

.help .panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer; }

.help .panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease; }

.help .panelOpen .panel-content {
  height: auto;
  opacity: 1;
  padding: 14px; }

.help .panelOpen .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.help .plus {
  position: absolute;
  margin-left: 20px;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }

.textarea-fill {
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  height: unset;
  resize: none; }

.colourSquare {
  width: 100px;
  height: 100px; }

.aqua {
  background-color: #00ffff; }

.descriptionElection {
  padding-left: 5%;
  padding-right: 5%;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word; }

.svgLoading {
  display: block;
  margin-left: 15%;
  margin-top: 15%; }
  @media (max-width: 900px) {
    .svgLoading {
      margin-left: 10%; } }

@media (max-width: 900px) {
  .svgContainer {
    display: none; } }

@media (min-width: 900px) {
  .svgContainerMobile {
    display: none; } }

@media (max-width: 900px) {
  .candidateTable td {
    word-wrap: break-word;
    max-width: 18vw; } }

.candidateTable button {
  font-size: 0.6rem;
  margin-left: 0; }

@media (max-width: 900px) {
  .whitelistTable td {
    word-wrap: break-word;
    max-width: 5vw; } }
